services:
  chroma:
    image: chromadb/chroma:latest
    container_name: chroma
    ports:
      - "8000:8000"
    environment:
      - CHROMA_DB_PATH=/data/chroma_db
    volumes:
      - chroma_data:/data

  redis:
    image: redis/redis-stack:latest
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - redis_data:/data

volumes:
  chroma_data:
    name: chroma_data
  redis_data:
    name: redis_data
